/* General */
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    text-align: center;
}

button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    background-color: rgb(0, 48, 86);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }

    button:hover {
        background-color: rgb(0, 48, 86);
        box-shadow: 0px 15px 20px rgb(0, 168, 150);
        color: #fff;
        transform: translateY(-7px);
      }

@media only screen and (min-width: 475px){
    br{
        display: none;
    }
    p.text-second{
        margin: 25px 0px;
    }

    p.text-third{
        margin: 20px 0px;
    }
}

.button-link{
    color: white;
    text-decoration: none;;
}

.footer{
    color: gray;
    font-size: 14px;
    padding-top: 150px;
}

/* LogoHeader */

.link{
    color: black;
}

.first{
    width: max-content;
    margin: auto auto;
    margin-top: 10px;
    }
    
    
    .firstBankName{
        font-size: 22px;
        float: right;
        margin-top: 4.5px;
        font-family: monospace;
    
    }
    
    .firstBloomImg{
        border-radius: 50%;
        width: 40px;
        }
    


/*Home*/


.second{
    padding-top: 20px;
    width: 60%;
    margin: 0 auto;
    
}

.text-second{
    font-size: 25px;
    font-family: serif;
    margin: 20px 0;
}

.text-third{
    color: gray;
    font-size: 20px;
    margin: 18px 0;

    
}
